﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdmin.Master" AutoEventWireup="true" CodeBehind="Aboutus.aspx.cs" Inherits="WebAssignment.Aboutus" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style2 {
            margin-left: 520px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p class="auto-style2">
        About ABC e-Portfolio</p>
    <p>
        &nbsp;</p>
    <p>
        At ABC Polytechnic, we want oppportunities to be taken because we want everyone to find their &quot;Kind Of Xtra&quot;. Students gain experience through activities and hands-on experimentation that will build up their skills. Thus, they will get to not only just to acquire in-class skulls, but also experience outdoor learning to expand themselces and have a clearer picture of things happening outside school. Finally, they will get to showcase these skills to this website for them to grab as many pooprtunities as possible.</p>
   
</asp:Content>
