﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SysAdmin.Master" AutoEventWireup="true" CodeBehind="ConfirmAddMentor.aspx.cs" Inherits="WebAssignment.ConfirmMentor" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        The following staff has been added successfully:</p>
    MentorID:
    <asp:Label ID="lblMentorID" runat="server"></asp:Label>
    <br />
    <br />
    Name: <asp:Label ID="lblinitial" runat="server"></asp:Label>
    <asp:Label ID="lblName" runat="server"></asp:Label>
    <br />
    <br />
    Email: <asp:Label ID="lblEmail" runat="server"></asp:Label>
    <br />
    <br />
    <asp:Button ID="btnConfirm" runat="server" Text="Confirm" OnClick="btnConfirm_Click" />
</asp:Content>
