﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MentorTemplate.Master" AutoEventWireup="true" CodeBehind="MentorMessage.aspx.cs" Inherits="WebAssignment.MentorMessage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <style type="text/css">
        .auto-style5 {
            width: 80px;
        }
        .auto-style6 {
            width: 601px;
        }
        .auto-style7 {
            width: 80px;
            height: 33px;
        }
        .auto-style8 {
            width: 601px;
            height: 33px;
        }
        .auto-style9 {
            height: 33px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:GridView ID="gvMessage" runat="server" AutoGenerateColumns="False">
        <Columns>
            <asp:HyperLinkField HeaderText="Reply" Text="Reply" />
        </Columns>
    </asp:GridView>
</asp:Content>
