﻿<%@ Page Title="" Language="C#" MasterPageFile="~/ParentTemplate.Master" AutoEventWireup="true" CodeBehind="PostMessage.aspx.cs" Inherits="WebAssignment.PostMessage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <asp:TextBox ID="txtMessage" runat="server" Height="85px" Width="292px"></asp:TextBox>
    <asp:Button ID="BtnSend" runat="server" Text="Send" />
</asp:Content>
