﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="RegisterConfirm.aspx.cs" Inherits="WebAssignment.RegisterConfirm" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 100%;
        }
        .auto-style2 {
            width: 118px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <table class="auto-style1">
            <tr>
                <td class="auto-style2">Name : </td>
                <td>
                    <asp:Label ID="lblPName" runat="server"></asp:Label>
                </td>
            </tr>
            <tr>
                <td class="auto-style2">Email :</td>
                <td>
                    <asp:Label ID="lblPEmail" runat="server"></asp:Label>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
