﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Student.master.cs" Inherits="WebAssignment.Student1" %>

<%@ Register Src="~/StudentMenu.ascx" TagPrefix="uc1" TagName="StudentMenu" %>


<!DOCTYPE html>

<html>
<head runat="server">
    <title>ABC Polytechnic</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/umd/popper.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="container" style="margin:auto;">
            <!--1st row -->
            <div class="row">
                <uc1:StudentMenu runat="server" id="StudentMenu" />
                <div class="col-sm-12">
                    Welcome,<asp:Label ID="lblLoginID" runat="server"></asp:Label>                   
                    <asp:Label ID="lblLoggedInTime" runat="server"></asp:Label>                   
                </div>
            </div>
            <!--2nd row -->
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
            <!--3rd row -->
            <div class="row">
                <div class="col-sm-12">
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>
            </div>
            <!--4th row -->
            <div class="row">
                <div class="col-sm-12">
                &nbsp;<asp:Label ID="lblCurrentUsers" runat="server"></asp:Label>
                </div>
            </div>
        </div>
    </form>
</body>
</html>